@use '../../../styles/abstracts/mixins' as *;

:host {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;

  @include respond-to('gt-md') {
    grid-template-columns: 1fr 1fr;
  }
}

section {
  padding: 16px;
  border-radius: var(--lcc-borderRadius--large);
  box-shadow: 3px 3px 5px var(--lcc-color--clubLinks-boxShadow);
  background-color: var(--lcc-color--general-cardBackground);

  &:hover {
    box-shadow: 4px 4px 8px var(--lcc-color--clubLinks-boxShadow);
    animation: raise 0.2s ease forwards;
  }

  > span {
    margin-right: 8px;
  }
}

a {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  gap: 4px;

  .image-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &.chesscom {
      margin-right: -2px;
      margin-left: -2px;
    }
  }

  mat-icon {
    @include icon-size(16px);
  }
}

@keyframes raise {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.015);
  }
}
