$fg1: var(--lcc-color--contentPlaceholder-foreground1);
$fg2: var(--lcc-color--contentPlaceholder-foreground2);
$fg3: var(--lcc-color--contentPlaceholder-foreground3);

.lcc-content-placeholder-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--contentPlaceholder-background);
}

.lcc-content-placeholder {
  position: absolute;
  left: -45%;
  width: 75%;
  height: 100%;
  background-image: linear-gradient(to left, $fg1, $fg2, $fg3, $fg2, $fg1);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
