@use './link';

.lcc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.lcc-form-header {
  padding: 0.6em 1em;
  text-align: center;

  h3 {
    width: 100%;
    color: var(--lcc-color--form-headerText);
  }
}

.lcc-form-fields {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 8px 12px;
  width: 100%;

  label:not(.file-button) {
    align-self: center;
    grid-column: 1 / 2;
    max-width: 100px;
    font-size: 14px;
    text-align: right;
    color: var(--lcc-color--form-labelText);
    cursor: pointer;
  }

  input,
  textarea,
  fieldset {
    align-self: center;
    grid-column: 2 / 3;
  }

  fieldset {
    padding: 4px 12px;
    text-align: left;
    border: 1px solid var(--lcc-color--input-border);
    border-radius: var(--lcc-borderRadius--small);
    background-color: var(--lcc-color--input-background);

    label {
      margin-left: 4px;
    }
  }

  lcc-form-error-icon {
    align-self: center;
    grid-column: 3 / 4;
  }
}

.lcc-form-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 4px;
  }
}

.lcc-required-fields-legend {
  font-size: 14px;
  font-style: italic;
  color: var(--lcc-color--form-requiredFieldText);

  &::after {
    color: var(--lcc-color--form-requiredFieldAsterisk);
    content: ' *';
  }
}

.lcc-required-field::before {
  color: var(--lcc-color--form-requiredFieldAsterisk);
  content: '* ';
}
