@use '../abstracts/mixins' as *;

input[type='text'],
input[type='password'],
textarea {
  display: block;
  width: 100%;
  min-width: 40px;
  height: 36px;
  padding: 10px;
  margin: 3px 0 !important;
  font-size: 14px;
  line-height: 1.4;
  border: 1px solid var(--lcc-color--input-border);
  border-radius: var(--lcc-borderRadius--small) !important;
  background-color: var(--lcc-color--input-background);
  color: var(--lcc-color--input-text);

  // Ensure font size is at least 16px on mobile to prevent
  // iOS Safari's native zoom-on-focus behaviour
  @include respond-to('lt-md') {
    font-size: 16px !important;

    &::placeholder {
      font-size: 16px !important;
    }
  }

  &.ng-invalid.ng-touched {
    border-color: var(--lcc-color--input-invalidBorder);
  }

  &:hover,
  &:focus {
    border: 1px solid var(--lcc-color--input-borderOnHover);
    outline: none;
  }

  &::placeholder {
    font-size: 14px;
    color: var(--lcc-color--input-placeholderText);
  }
}

input[type='checkbox'],
input[type='radio'] {
  justify-self: flex-start;
  margin: 4px;
  transform: scale(1.5);

  accent-color: var(--lcc-color--input-checkboxAndRadio);

  &:hover {
    cursor: pointer;
  }
}

input[type='radio'] {
  margin: 6px 4px;
}

textarea {
  height: 120px;
  resize: none !important;
}
