@mixin lcc-link {
  position: relative;
  padding-bottom: 2px;
  font-size: inherit;
  font-weight: 200;
  white-space: nowrap;
  color: var(--lcc-color--link);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--lcc-color--linkUnderline);
    transition: transform 200ms;
    transform: scale(0);
    transform-origin: center;
    content: '';
  }

  &:hover {
    color: var(--lcc-color--linkOnHover);

    &::after {
      transform: scale(1);
    }
  }

  &[disabled],
  &[disabled]:hover {
    font-style: italic;
    color: var(--lcc-color--linkDisabled);
    pointer-events: none;
  }
}

.lcc-link {
  @include lcc-link;
}
