.lcc-loader {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: show;
  width: 120px;
  height: 120px;
  margin: auto;

  // Transparent overlay
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--lcc-color--general-overlayLightBackdrop);
    content: '';
  }

  div {
    position: absolute;
    opacity: 1;
    border: 3px solid var(--lcc-color--loader);
    border-radius: 50%;
    animation: pulse 0.7s cubic-bezier(0, 0.6, 0.8, 1) infinite;
  }
}

@keyframes pulse {
  0% {
    top: 56px;
    left: 56px;
    opacity: 0;
    width: 8px;
    height: 8px;
  }
  4.9% {
    top: 56px;
    left: 56px;
    opacity: 0;
    width: 8px;
    height: 8px;
  }
  5% {
    top: 56px;
    left: 56px;
    opacity: 1;
    width: 8px;
    height: 8px;
  }
  100% {
    top: 0;
    left: 0;
    opacity: 0;
    width: 120px;
    height: 120px;
  }
}
