@use '../abstracts/mixins';

.lcc-table-wrapper {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 4px; // Gap above scrollbar and space for box-shadow

  // Offset the scrollbar track so it doesn't appear under the sticky columns
  &.lcc-has-sticky-columns::-webkit-scrollbar-track {
    margin-left: calc(
      var(--lcc-sticky-col-1-width, 0px) + var(--lcc-sticky-col-2-width, 0px)
    );
  }
}

.lcc-table {
  display: table;
  width: auto;
  font-size: 14px;
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 0 2px 4px 0 var(--lcc-color--table-boxShadow);
  // When table cell border radius added, sometimes the table background bleeds through from
  // behind when resizing, so set to the same colour as the row to make this less noticeable
  background-color: var(--lcc-color--table-rowBackgroundOdd);

  border-spacing: 0;

  &:hover {
    cursor: default;
  }

  thead {
    th {
      padding: 8px;
      font-weight: 200;
      white-space: nowrap;
      background-color: var(--lcc-color--table-headerBackground);
      color: var(--lcc-color--table-headerForeground);

      @include mixins.respond-to('gt-sm') {
        padding: 8px 16px;
      }

      &:last-child {
        border-top-right-radius: var(--lcc-borderRadius--small);
      }
    }

    .lcc-has-sticky-columns & {
      th {
        &:first-child,
        &:nth-child(2) {
          position: sticky;
          z-index: 2;
          background-color: var(--lcc-color--table-headerBackground);
        }

        &:first-child {
          left: 0;
          border-top-left-radius: var(--lcc-borderRadius--small);
        }

        &:nth-child(2) {
          left: var(--lcc-sticky-col-1-width, 0);
          box-shadow: 2px 0 4px -2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  tbody {
    tr {
      background-color: var(--lcc-color--table-rowBackgroundOdd);
      color: var(--lcc-color--table-rowForeground);

      &:nth-child(even) {
        background-color: var(--lcc-color--table-rowBackgroundEven);
      }

      td {
        padding: 8px;

        @include mixins.respond-to('gt-sm') {
          padding: 8px 16px;
        }
      }
    }

    .lcc-has-sticky-columns & {
      tr td {
        &:first-child,
        &:nth-child(2) {
          position: sticky;
          z-index: 1;
          background-color: inherit;
        }

        &:first-child {
          left: 0;
        }

        &:nth-child(2) {
          left: var(--lcc-sticky-col-1-width, 0);
          box-shadow: 2px 0 4px -2px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  tfoot {
    color: var(--lcc-color--table-footerForeground);

    td {
      padding: 8px;
      text-align: right;
    }
  }
}
