@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  min-width: 190px;
  border-radius: var(--lcc-borderRadius--large);

  header {
    display: flex;
    align-items: center;
    border-radius: var(--lcc-borderRadius--large);
    background-color: var(--lcc-color--datePicker-headerBackground);

    button {
      padding: 0 8px;
      margin: 4px;
      background-color: var(--lcc-color--datePicker-buttonsBackground);

      &:hover {
        background-color: var(--lcc-color--datePicker-buttonsBackgroundOnHover);
      }
    }

    .title {
      flex: 1 1 100%;
      padding: 4px 8px;
      font-size: 14px !important;
      color: var(--lcc-color--datePicker-headerText);

      @include respond-to('gt-sm') {
        font-size: 16px !important;
      }
    }
  }

  .calendar-table {
    table-layout: fixed;

    thead {
      th {
        padding: 8px 1px !important;

        @include respond-to('lt-sm') {
          font-size: 12px;
        }
      }
    }

    tbody {
      td {
        padding: 8px 4px;
        border: 2px solid transparent;
        border-radius: none;

        &:not([disabled]) {
          cursor: pointer;

          &:hover {
            border-color: var(--lcc-color--datePicker-cellBorderOnHover);
            border-radius: var(--lcc-borderRadius--large);
          }

          &.selected-day {
            border-color: var(--lcc-color--datePicker-cellBorderOnSelect);
            border-radius: var(--lcc-borderRadius--large);
          }
        }

        &[disabled] {
          color: var(--lcc-color--datePicker-disabledCell);
          pointer-events: none;
        }
      }
    }

    tfoot {
      .selected-date {
        padding: 8px;
        text-align: center;
        color: var(--lcc-color--datePicker-selectedDateText);
      }
    }
  }
}
