:host {
  box-shadow: 2px 2px 4px 0 var(--lcc-color--userSettingsMenu-boxShadow);
}

.menu-items {
  display: flex;
  flex-direction: column;
  width: 190px;
  border-bottom-left-radius: var(--lcc-borderRadius--small);
  border-bottom-right-radius: var(--lcc-borderRadius--small);
  background-color: var(--lcc-color--userSettingsMenu-background);
  cursor: default;

  hr {
    margin: 4px;
    border-top: 1px solid var(--lcc-color--general-dividerLine);
  }

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--lcc-color--userSettingsMenu-itemForeground);

    &.user-name {
      flex: 1;
      justify-content: center;
      margin: 4px;

      .user-icon {
        color: var(--lcc-color--userSettingsMenu-userIcon);
      }

      span {
        padding: 4px;
      }
    }

    &.theme-toggle,
    &.safe-mode-toggle,
    &.desktop-view-toggle,
    &.wide-view-toggle {
      display: flex;
      justify-content: space-between;

      span {
        padding-right: 8px !important;
      }

      lcc-toggle-switch {
        padding-right: 16px;
      }
    }

    span {
      padding: 8px 16px;
      font-size: 14px;
    }

    a,
    button {
      flex: 1;

      &:hover > * {
        background-color: var(--lcc-color--userSettingsMenu-itemBackgroundOnHover);
        color: var(--lcc-color--userSettingsMenu-itemTextOnHover);
        cursor: pointer;
      }

      span {
        display: block;
      }
    }

    button {
      padding: unset;
      text-align: start;
      border: none;
      background: inherit;
      color: inherit;
    }
  }
}

.safe-mode-warning-tooltip {
  header {
    margin-bottom: 8px;
    color: var(--lcc-color--userSettingsMenu-warning);
  }
}

.refresh-data-tooltip {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 8px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .message-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    line-height: 1.4;
    text-align: start;
  }
}
