@use '../../../styles/abstracts/mixins' as *;

$icon-height: 18px;

.documents-table {
  width: 100%;

  th {
    &.published,
    &.last-modified {
      width: 180px;
      text-align: center;
    }
  }

  td {
    white-space: nowrap;

    &.document {
      display: flex;
      justify-content: space-between;
      gap: 16px;

      .document-label-container {
        display: flex;
        align-items: center;
        gap: 4px;

        .file-icon {
          width: $icon-height;
          min-width: $icon-height;
          height: $icon-height;
        }

        &:hover {
          .file-icon,
          .document-title {
            color: var(--lcc-color--documentsPage-documentLabelOnHover);
            cursor: pointer;
          }
        }
      }

      .download-link {
        &:hover {
          color: var(--lcc-color--documentsPage-downloadLinkOnHover);
          cursor: pointer;
        }

        .download-icon {
          width: $icon-height;
          min-width: $icon-height;
          height: $icon-height;
        }
      }

      .document-date-published-container,
      .document-date-last-modified-container {
        display: flex;
        justify-self: center;
        align-items: center;
        height: 100%;
        text-align: center;
      }
    }

    &.published,
    &.last-modified {
      vertical-align: middle;
      width: 180px;
      text-align: end;
    }
  }
}

mat-icon {
  @include icon-size(18px);
}

.tooltip-item-name {
  display: block;
  color: var(--lcc-color--tooltip-highlightedText) !important;
}
