@use '../../../styles/abstracts/mixins' as *;

:host {
  overflow: hidden;
  display: block;
  width: min(100vw, var(--lcc-width--appContent)) !important;
  height: 80vh;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--lcc-color--dialog-background);
}

.image-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 0; // Ensure proper flex shrinking
  background-color: var(--lcc-color--imageViewer-background);

  img {
    object-fit: contain;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

figcaption {
  width: calc(100% - 8px);
  padding: 4px 8px;
  margin: 4px;

  .album-name {
    font-size: 11px;
    text-align: left;
    color: var(--lcc-color--imageViewer-albumText);
  }

  hr {
    width: 100%;
    margin: 4px 0;
    border-top: 1px solid var(--lcc-color--imageViewer-dividerLine);
  }

  .image-caption {
    font-size: 12px;
    text-align: center;
  }

  @include respond-to('gt-md') {
    .album-name {
      font-size: 13px;
    }
    .image-caption {
      font-size: 14px;
    }
  }

  @include respond-to('gt-lg') {
    .album-name {
      font-size: 14px;
    }

    .image-caption {
      font-size: 15px;
    }
  }
}

.button-wrapper {
  z-index: 1000;
  position: absolute;
  top: 50%;

  &:first-of-type {
    left: 8px;
  }

  &:last-of-type {
    right: 8px;
  }

  button {
    display: flex;
    padding: 4px;
    background-color: var(--lcc-color--imageViewer-buttonBackground) !important;

    &:active,
    &.active {
      filter: brightness(1.5);
    }

    &:disabled {
      border-color: var(--lcc-color--imageViewer-buttonDisabledBorder) !important;
      background-color: var(--lcc-color--imageViewer-buttonDisabledBackground) !important;
      color: var(--lcc-color--imageViewer-buttonDisabledIcon) !important;
    }
  }
}
