@use '../../../styles/abstracts/mixins' as *;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  text-align: center;
}

.photo-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 450px;
  border-radius: 8px;
  background-color: var(--lcc-color--photoCarousel-photoBackground);
  cursor: pointer;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: opacity 0.8s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.carousel-photo {
  object-fit: contain;
  width: auto;
  max-width: calc(100% - 16px);
  height: auto;
  max-height: calc(100% - 16px);
  padding: 4px;
  border-radius: 8px;
  box-shadow: var(--circ-boxShadow);
}

.caption-container {
  position: relative;
  width: 100%;
  // Reserve enough space for two lines of text
  height: 50px;
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line;
  color: var(--lcc-color--photoCarousel-caption);
  transition: opacity 0.8s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;

  .dot-button {
    width: 8px;
    height: 8px;
    padding: 0;
    border: 1px solid var(--lcc-color--photoCarousel-dotBorder);
    border-radius: 50%;
    background-color: var(--lcc-color--photoCarousel-dot);
    cursor: pointer;

    &.active {
      border: 1px solid var(--lcc-color--photoCarousel-activeDotBorder);
      background-color: var(--lcc-color--photoCarousel-activeDot);
      transition: background-color 1.6s ease;
    }
  }
}

@include respond-to('lt-md') {
  .dots-container {
    gap: 24px;

    .dot-button {
      width: 12px;
      height: 12px;
    }
  }
}
