@use '../../../styles/abstracts/mixins' as *;

$border-thickness: 2px;

:host {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  padding-top: 2px;
  margin-bottom: 2px;
  background-color: var(--lcc-color--nav-background);
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: var(--lcc-width--appContent);
}

.nav-links {
  display: flex;

  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    // Add border thickness to side padding for non-active links to prevent layout shifts
    // when a link becomes active and a border is added
    padding: 3px calc(2px + #{$border-thickness});
    font-size: 14px;

    font-weight: 400;
    white-space: nowrap;
    border-top: $border-thickness solid transparent;
    border-bottom: $border-thickness solid var(--lcc-color--nav-border);
    border-top-left-radius: var(--lcc-borderRadius--large);
    border-top-right-radius: var(--lcc-borderRadius--large);
    color: var(--lcc-color--nav-linkForeground);

    &:hover {
      text-decoration: none;
      color: var(--lcc-color--nav-linkForegroundOnHover);

      .link-icon {
        color: var(--lcc-color--nav-linkForegroundOnHover);
      }
    }

    &.link-active {
      padding: 3px 2px;
      border-right: $border-thickness solid var(--lcc-color--nav-border);
      border-left: $border-thickness solid var(--lcc-color--nav-border);
      background-color: var(--lcc-color--app-mainBackground);
      color: var(--lcc-color--nav-linkForegroundWhenActive);
      cursor: default;
      pointer-events: none;
      border-top-color: var(--lcc-color--nav-border);
      border-bottom-color: transparent;
    }

    .link-text {
      visibility: hidden;
      display: none;
    }

    .link-icon {
      @include icon-size(24px);

      color: var(--lcc-color--nav-linkForeground);
    }

    @include respond-to('gt-xs') {
      padding-left: calc(5px + #{$border-thickness});
      padding-right: calc(5px + #{$border-thickness});

      &.link-active {
        padding-right: 5px;
        padding-left: 5px;
      }
    }

    @include respond-to('gt-md') {
      .link-text {
        visibility: unset;
        display: block;
      }

      .link-icon {
        visibility: hidden;
        display: none;
      }
    }
  }
}

.user-settings-button {
  gap: 2px;
  border-bottom: $border-thickness solid var(--lcc-color--nav-border);
  color: var(--lcc-color--nav-linkForeground);

  &:hover {
    color: var(--lcc-color--nav-linkForegroundOnHover);
  }

  .settings-icon {
    @include icon-size(24px);
  }

  .dropdown-icon {
    @include icon-size(16px);
  }
}

.nav-left,
.nav-right,
.nav-mid {
  flex: 1;
  border-bottom: $border-thickness solid var(--lcc-color--nav-border);
}

.nav-left,
.nav-right {
  min-width: 8px;
}
