@use '../../../styles/abstracts/mixins' as *;

:host {
  padding: 4px 16px;
  border: 1px solid var(--lcc-color--modificationInfo-border);
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--modificationInfo-background);
}

.modification-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 13px;
  color: var(--lcc-color--modificationInfo-secondaryText);

  .create-details-container,
  .edit-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: left;

    mat-icon {
      @include icon-size(15px);

      color: var(--lcc-color--modificationInfo-icons);
    }

    .create-text,
    .edit-text {
      & > * {
        line-height: 1.3em;
        white-space: nowrap;
      }

      .name {
        padding: 0 1em 0 0.5em;
        color: var(--lcc-color--modificationInfo-primaryText);
      }

      .vertical-spacer {
        display: none;
        color: var(--lcc-color--modificationInfo-verticalSpacer);

        @include respond-to('gt-md') {
          display: inline;
        }
      }

      .date {
        display: block;
        color: var(--lcc-color--modificationInfo-primaryText);

        @include respond-to('gt-md') {
          display: inline;
          padding-left: 1em;
        }
      }
    }
  }
}
