@use '../../../styles/abstracts/mixins' as *;

$app-header-font-size: 42px;

:host {
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--lcc-color--header-background);
}

.app-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: var(--lcc-width--appContent);
  margin: 0 8px;

  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;

    .image-container {
      overflow: hidden;
      display: flex;
      flex: 0 0 auto;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;

      @include respond-to('gt-sm') {
        width: 60px;
        height: 60px;
      }
    }

    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
      padding: 3px;
      border-radius: 50%;
      background-color: var(--lcc-color--header-brandingBackground) !important;

      &:hover {
        background-color: var(--lcc-color--header-brandingBackgroundOnHover);
        cursor: pointer;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover h1 {
        color: var(--lcc-color--header-textOnHover);
      }

      h1 {
        font-size: calc(#{$app-header-font-size} - 6px);
        white-space: nowrap;
        font-family: 'Caveat', sans-serif;
        color: var(--lcc-color--header-text);

        @include respond-to('gt-sm') {
          font-size: $app-header-font-size;
        }
      }
    }
  }

  .chess-pieces {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    @include respond-to('gt-md') {
      display: flex;
    }

    img {
      display: none;
      margin-right: 4px;

      &.pieces-1 {
        height: 55px;
        filter: opacity(0.65);
        transform: rotate(-3deg);
      }

      &.pieces-2 {
        height: 42px;
        filter: opacity(0.55);
        transform: rotate(1deg);
      }

      &.pieces-3 {
        height: 35px;
        filter: opacity(0.45);
        transform: rotate(-2deg);
      }

      &.pieces-4 {
        height: 30px;
        filter: opacity(0.4);
        transform: rotate(1.5deg);
      }

      &.pieces-5 {
        height: 27px;
        filter: opacity(0.3);
        transform: rotate(-1deg);
      }

      @include respond-to('gt-xxl') {
        display: flex;
      }
    }
  }
}
