@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 0 2px 4px 0 var(--lcc-color--table-boxShadow);
  background-color: var(--lcc-color--dataToolbar-background);
}

.data-toolbar-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px 32px;
  width: 100%;

  .paginator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;

    @include respond-to('gt-xs') {
      gap: 4px;
    }

    .page-navigation-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      @include respond-to('gt-md') {
        padding: 2px;
      }
    }

    .page-control-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 0 4px;
      font-size: 13px;
      text-align: center;
      color: var(--lcc-color--dataToolbar-text);

      @include respond-to('gt-xs') {
        font-size: 14px;
      }

      .page-size-buttons {
        display: flex;
        flex-direction: row;
        gap: 2px;

        @include respond-to('gt-xs') {
          gap: 4px;
        }

        .page-size-button {
          padding: 4px;
          font-size: 12px;
          border-color: var(--lcc-color--dataToolbar-buttonBorder);
          color: var(--lcc-color--dataToolbar-text);

          @include respond-to('gt-xs') {
            font-size: 13px;
          }

          &.selected {
            border-color: var(--lcc-color--dataToolbar-selectedButtonBorder);
            color: var(--lcc-color--dataToolbar-text);
          }
        }
      }
    }
  }

  .search-input {
    align-self: center;
    min-width: 240px;
    max-width: 350px;
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .filter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 14px;
      white-space: nowrap;
      list-style: none;
      color: var(--lcc-color--dataToolbar-text);
    }
  }
}

.pagination-summary {
  font-size: 14px;
  text-align: center;
  color: var(--lcc-color--dataToolbar-text);
}
