@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.members-table {
  margin: auto;

  @include respond-to('lt-sm') {
    font-size: 13px;
  }

  &:not(.lcc-show-admin-columns) {
    .born,
    .email,
    .phone-number,
    .date-joined {
      display: none !important;
    }
  }

  thead {
    .sortable-header {
      .sort-icon-container {
        display: inline-flex;
        width: 14px;
        height: 14px;
        margin-left: 4px;

        mat-icon {
          @include icon-size(16px);
          height: 100%;
        }
      }

      &:hover:not(.row-number) {
        background-color: var(--lcc-color--membersTable-headerBackgroundOnHover);
        cursor: pointer;
      }
    }
  }

  tbody {
    tr {
      &.inactive {
        :not(.row-number) {
          font-style: italic;
          color: var(--lcc-color--membersTable-inactiveMemberText);
        }

        .first-name::after,
        .name::after {
          color: var(--lcc-color--membersTable-inactiveMemberAsterisk);
          content: ' *';
        }
      }

      td {
        white-space: nowrap;

        &.lcc-truncate {
          display: table-cell;
          text-overflow: ellipsis;
        }

        &.row-number {
          // Enough space to fit 3-digit numbers
          min-width: 58px;
          max-width: 58px;
          text-align: right;
        }

        &.name {
          min-width: 220px;
          max-width: 220px;
        }

        &.first-name,
        &.last-name {
          min-width: 150px;
          max-width: 150px;
        }

        &.city {
          min-width: 130px;
          max-width: 130px;
        }

        &.email {
          min-width: 250px;
          max-width: 250px;
        }

        &.date-joined,
        &.last-updated {
          min-width: 160px;
          max-width: 160px;
          text-align: right;
        }

        &.first-name,
        &.name {
          .city-champion-link {
            display: inline-block;

            &.before-name {
              padding-right: 4px;
            }

            &.after-name {
              padding-left: 4px;
            }

            .city-champion-icon {
              @include icon-size(16px);

              display: inline-block;
              vertical-align: middle;
              color: var(--lcc-color--membersTable-cityChampionIcon);
              transition: color 1s ease;
              // Fine-tune vertical alignment
              transform: translateY(-2px);
            }

            &:hover {
              .city-champion-icon {
                color: var(--lcc-color--membersTable-cityChampionIconHover);
              }
            }
          }
        }
      }
    }
  }
}
