:host {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--lcc-width--smallForm);
  padding: 32px 16px;
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 1px 1px 5px 2px var(--lcc-color--form-boxShadow);
  background-color: var(--lcc-color--form-background);

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
  }
}
