:host {
  max-width: 200px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  white-space: wrap;
  word-wrap: break-word;
  border-radius: var(--lcc-borderRadius--large);
  outline: 1px solid var(--lcc-color--tooltip-border);
  background-color: var(--lcc-color--tooltip-background);
  color: var(--lcc-color--tooltip-text);
  pointer-events: none;
  animation: slide-down 0.5s;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translate(0, -8px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
