@use '../../../styles/abstracts/mixins' as *;

:host {
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  border-bottom: 1px solid var(--lcc-color--upcomingEventBanner-borderBottom);

  &.blitz-tournament-10-mins {
    background-color: var(--lcc-color--upcomingEventBanner-background-blitz10Tournament);
  }

  &.rapid-tournament-25-mins {
    background-color: var(--lcc-color--upcomingEventBanner-background-rapid25Tournament);
  }

  &.rapid-tournament-40-mins {
    background-color: var(--lcc-color--upcomingEventBanner-background-rapid40Tournament);
  }

  &.lecture {
    background-color: var(--lcc-color--upcomingEventBanner-background-lecture);
  }

  &.simul {
    background-color: var(--lcc-color--upcomingEventBanner-background-simul);
  }

  &.championship {
    background-color: var(--lcc-color--upcomingEventBanner-background-championship);
  }

  &.other {
    background-color: var(--lcc-color--upcomingEventBanner-background-other);
  }

  &.closed {
    background-color: var(--lcc-color--upcomingEventBanner-background-closed);
  }
}

.banner-message-container {
  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  max-width: var(--lcc-width--appContent);
}

.banner-message {
  overflow: hidden;
  overflow: hidden;
  display: flex;
  flex: 1;
  align-items: center;
  width: 100%;
  min-width: 0;
  font-size: 14px;
  white-space: nowrap;
  color: var(--lcc-color--upcomingEventBanner-text);

  &.navigatable {
    cursor: pointer;

    &:hover {
      color: var(--lcc-color--upcomingEventBanner-textOnHover);

      b {
        color: var(--lcc-color--upcomingEventBanner-boldTextOnHover);
      }
    }
  }

  &:not(.navigatable) {
    cursor: default;
    pointer-events: none;
  }

  b {
    font-weight: bold;
    color: var(--lcc-color--upcomingEventBanner-boldText);
  }
}

.marquee-content {
  display: inline-flex;
  align-items: center;

  .marquee-item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding-right: 50px;
  }

  &.animate {
    animation: marquee-scroll linear infinite;
  }
}

mat-icon {
  @include icon-size(16px);

  color: var(--lcc-color--upcomingEventBanner-closeIcon);

  &:hover {
    color: var(--lcc-color--upcomingEventBanner-closeIconOnHover);
  }
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
