@use '../../../styles/abstracts/mixins' as *;

$grid-gap: 8px;
$card-min-width: 180px;
$card-max-width: 270px;
$card-padding: 8px;
$side-padding: 8px;

:host {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 90dvh;
  background-color: var(--lcc-color--imageExplorer-gridBackground);

  lcc-admin-toolbar {
    width: calc(100% - 16px);
    margin: 8px 8px 0;
  }

  lcc-data-toolbar {
    width: calc(100% - #{$side-padding * 2});
    margin: 0 $side-padding;
  }

  .image-grid-wrapper {
    overflow: auto;
    display: flex;
    container-type: inline-size;
    justify-content: center;
    min-width: min(90vw, var(--lcc-width--appContent));
  }

  .image-grid {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    gap: $grid-gap;
    padding: 0 8px $side-padding;

    @container (width >= calc(2 * (#{$card-min-width} + (2 * #{$side-padding})))) {
      &:not([card-count='1']) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($card-min-width, 1fr));
      }
    }

    @for $n from 2 through 5 {
      @container (width >= calc(#{$n} * #{$card-max-width} + #{($n - 1)} * #{$grid-gap} + (2 * #{$side-padding}))) {
        &[card-count='#{$n}'] {
          display: flex;
        }
      }
    }
  }

  .image-card {
    max-width: $card-max-width;
    max-height: 500px;
    padding: $card-padding;
    border: none;
    border-radius: var(--lcc-borderRadius--large);
    box-shadow: 1px 2px 4px var(--lcc-color--general-cardBoxShadow);
    background-color: var(--lcc-color--imageExplorer-gridBackground);
    transition: all 0.2s ease;

    &.selectable:hover {
      box-shadow: 4px 4px 8px var(--lcc-color--general-cardBoxShadow);
      cursor: pointer;
      animation: raise 0.2s ease forwards;
    }

    .image-container {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      aspect-ratio: 3 / 2;
      border-radius: var(--lcc-borderRadius--large);
      background-color: var(--lcc-color--contentPlaceholder-background);
    }

    img {
      object-fit: contain;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }

    .caption,
    .filename,
    .file-size,
    .dimensions,
    .upload-date,
    .album,
    .article-appearances {
      font-size: 12px;
      color: var(--lcc-color--imageExplorer-text);

      label {
        display: inline;
        margin-right: 0.5em;
        font-weight: bold;
      }

      b {
        margin: 0.3em;
      }
    }

    .article-appearances {
      color: var(--lcc-color--imageExplorer-articleAppearancesText);
    }
  }
}

@keyframes raise {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.015);
  }
}
