:host {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: min-content !important;
  max-height: 80vh;
  padding: 16px 24px;
}

.dialog-title {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--lcc-color--basicDialog-dividerLine);
}

.rating-changes-table {
  td.changed {
    font-weight: 600;
    background: var(--lcc-color--ratingChanges-changedCellBackground);
  }
}

.unmatched-section {
  width: auto;
  margin-top: 8px;

  .unmatched-member-list {
    padding-left: 24px;
    margin: 16px 0;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
