@use '../../../styles/abstracts/mixins' as *;

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
    'first-visit'
    'where-and-when'
    'club-regulations'
    'membership-fee'
    'supplies'
    'ratings'
    'parking'
    'rules'
    'tournaments'
    'leadership';
  gap: 4px;
  width: 100%;

  @include respond-to('gt-md') {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'where-and-when where-and-when'
      'first-visit club-regulations'
      'membership-fee supplies'
      'parking ratings'
      'rules tournaments'
      'leadership leadership';
  }

  @include respond-to('gt-lg') {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'first-visit where-and-when club-regulations'
      'membership-fee supplies ratings'
      'parking rules tournaments'
      'leadership leadership leadership';
  }
}

lcc-expansion-panel {
  place-self: stretch;

  &.first-visit-section {
    grid-area: first-visit;
  }

  &.where-and-when-section {
    grid-area: where-and-when;

    lcc-club-card {
      padding: 8px;

      ::ng-deep {
        width: 100% !important;
      }
    }
  }

  &.club-regulations-section {
    grid-area: club-regulations;
  }

  &.membership-fee-section {
    grid-area: membership-fee;
  }

  &.supplies-section {
    grid-area: supplies;
  }

  &.parking-section {
    grid-area: parking;
  }

  &.ratings-section {
    grid-area: ratings;
  }

  &.rules-section {
    grid-area: rules;
  }

  &.tournaments-section {
    grid-area: tournaments;
  }

  &.leadership-section {
    grid-area: leadership;

    .tables-container {
      display: grid;
      grid-template-columns: repeat(auto);
      grid-template-areas:
        'executive-committee'
        'coordinators'
        'board-of-directors';
      gap: 16px;
      margin: 16px 0;

      .executive-committee {
        grid-area: executive-committee;
      }

      .coordinators {
        grid-area: coordinators;
      }

      .board-of-directors {
        grid-area: board-of-directors;
      }

      @include respond-to('gt-md') {
        grid-template-columns: 4fr 3fr;
        grid-template-areas:
          'executive-committee .'
          'coordinators board-of-directors';
      }

      @include respond-to('gt-lg') {
        grid-template-columns: 4fr 5fr 4fr;
        grid-template-areas: 'executive-committee coordinators board-of-directors';
      }

      table {
        min-width: 200px;
        flex: 1 1 0;

        td {
          width: 50%;
          vertical-align: middle;
        }
      }
    }
  }

  p {
    color: var(--lcc-color--aboutPage-text);
  }
}
