@use '../../../styles/abstracts/mixins' as *;

.panels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
}

lcc-expansion-panel {
  flex: 1 1 100%;

  @include respond-to('gt-md') {
    flex: 1 1 calc(50% - 4px);
  }

  @include respond-to('gt-lg') {
    flex: 1 1 calc(33.33% - 4px);
  }

  &.location-and-schedule {
    flex: 1 1 100% !important;

    ::ng-deep .expansion-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  p {
    color: var(--lcc-color--aboutPage-text);
  }
}
