@use '../../../styles/abstracts/mixins' as *;

:host {
  width: 100%;
}

.banner-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--lcc-color--article-bannerImageBackground);

  img {
    object-fit: contain;
    width: 100%;
    max-height: 300px;
  }

  .title {
    position: absolute;
    right: 16px;
    bottom: 8px;
    left: 16px;
    height: unset;
    padding: 4px 8px;
    line-height: 1.5em;
    border-radius: var(--lcc-borderRadius--small);
    background-color: var(--lcc-color--article-bannerImageHeaderBackground);
    color: var(--lcc-color--article-bannerImageHeaderText);
  }
}

.modification-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 4px;

  @include respond-to('gt-sm') {
    padding: 16px 8px;
  }

  @include respond-to('gt-md') {
    padding: 16px;
  }

  .author-container {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: var(--lcc-color--article-authorText);

    .date-created {
      font-size: 14px;
      white-space: nowrap;
      color: var(--lcc-color--article-dateCreatedText);
    }
  }

  .editor-container {
    font-size: 14px;
    color: var(--lcc-color--article-editorText);

    .updated {
      font-size: 12px;
      font-weight: 100;
      white-space: nowrap;
    }

    .modification-details {
      .vertical-spacer {
        padding: 0 0.4em;
        color: var(--lcc-color--general-editorTextSpacer);
      }

      .date-last-edited {
        white-space: nowrap;
      }
    }
  }
}

hr {
  width: 100%;
  margin: 0.5em 0;
  border-top: 1px solid var(--lcc-color--general-dividerLineLight);
}

.markdown-container {
  overflow-x: hidden;
  padding: 0;
  background-color: var(--lcc-color--article-markdownContainerBackground);
}
