@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: var(--lcc-width--smallForm);
  padding: 8px;
  font-size: 13px;
  text-align: start;
  border: 1px solid var(--lcc-color--safeModeNotice-border);
  border-radius: var(--lcc-borderRadius--large);
  color: var(--lcc-color--safeModeNotice-text);

  mat-icon {
    @include icon-size(18px);

    min-width: 18px;
    color: var(--lcc-color--safeModeNotice-icon);
  }

  aside {
    max-width: 340px;
  }
}
