:host {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100dvh;
  background-color: var(--lcc-color--app-mainBackground);

  main {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--lcc-color--app-mainBackground);
    scrollbar-gutter: stable both-edges;

    &::ng-deep > *:not(router-outlet):not(lcc-footer) {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;

      align-items: center;

      gap: 8px;
      width: 100%;
      max-width: var(--lcc-width--appContent);
      // 6px top + 2px at bottom of Nav component = 8px;
      padding: 6px 4px 8px;

      // Margin needed to prevent scrollbar-gutter style
      // from cutting off page content
      margin: 0 4px;
    }

    &::ng-deep lcc-footer {
      // Manually push footer background to edge of page
      width: calc(100% + 16px);
      margin-top: auto;

      // Add padding when on Safari on mobile to keep footer visible
      @media screen and (max-width: 767px) {
        _::-webkit-full-page-media,
        _:future {
          padding-bottom: 65px;
        }
      }
    }
  }
}
