@use '../../../styles/components/link';
@use '../../../styles/abstracts/mixins' as *;

:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  background-color: var(--lcc-color--markdownRenderer-background);

  body[data-wide-view='true'] & {
    max-width: none;
  }

  .table-of-contents {
    text-align: center;

    .heading-link {
      display: inline-block;
      margin: 4px 16px;
      font-size: 16px;

      @include respond-to('gt-sm') {
        font-size: 18px;
      }
    }
  }

  markdown ::ng-deep {
    table {
      // Hide until app-specific markdown styles have been applied
      &:not(.lcc-table) {
        visibility: hidden;
      }

      [align='right'] {
        text-align: right;
      }

      [align='left'] {
        text-align: left;
      }
    }

    body[data-wide-view='false'] & .lcc-has-sticky-columns table {
      th:nth-child(1),
      td:nth-child(1) {
        min-width: var(--lcc-sticky-col-1-width);
        max-width: var(--lcc-sticky-col-1-width);
      }

      th:nth-child(2),
      td:nth-child(2) {
        min-width: var(--lcc-sticky-col-2-width);
        max-width: var(--lcc-sticky-col-2-width);
      }
    }

    a {
      @include link.lcc-link;
    }

    li {
      margin-left: 1em;
      line-height: 1.5em;
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    // h2 headings function as the article's scrollable anchors
    h2 {
      padding-top: 16px;
      margin-top: 1em;
    }

    p {
      color: var(--lcc-color--markdownRenderer-secondaryText);
    }

    b,
    strong {
      color: var(--lcc-color--markdownRenderer-primaryText);
    }

    // For old images
    img {
      min-width: 300px;
      max-width: 100%;
    }

    // For new images with caption and width
    .markdown-image-container {
      width: 100%;
      margin: 16px 0;

      img {
        display: block;
        min-width: unset;
        max-width: 100%;
        height: auto;
      }

      .markdown-image-caption {
        margin-top: 4px;
        font-size: 16px;
        text-align: left;
        color: var(--lcc-color--markdownRenderer-secondaryText);
      }
    }

    blockquote {
      position: relative;
      padding: 16px 24px;
      margin: 0 16px;
      border: 1px solid var(--lcc-color--markdownRenderer-blockquoteBorder);
      border-radius: var(--lcc-borderRadius--large);
      background-color: var(--lcc-color--markdownRenderer-blockquoteBackground);

      & > p {
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
      }

      .lcc-quote-icon {
        position: absolute;
        top: -15px;
        left: -10px;
        opacity: 0.2;
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(50%);
      }
    }
  }
}
