@use '../../../styles/abstracts/mixins' as *;

:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: var(--lcc-borderRadius--small);
  background: var(--lcc-color--adminToolbar-outerBackground);

  .admin-icon {
    position: absolute;
    top: 12px;
    left: 12px;

    @include icon-size(40px);
    color: var(--lcc-color--adminToolbar-adminIcon);
  }

  .controls-container {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0 32px;
    border-radius: var(--lcc-borderRadius--small);
    box-shadow: 0 2px 4px 0 var(--lcc-color--adminToolbar-boxShadow);
    background: var(--lcc-color--adminToolbar-innerBackground);

    lcc-link-list {
      min-height: 46px;
      // Compensate for reserved space for underline below link which makes it appear uncentered
      margin-top: 2px;
    }

    .admin-buttons {
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;
      padding: 8px;

      .admin-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
      }
    }
  }
}
