@use '../../../styles/abstracts/mixins' as *;

.events-table {
  max-width: 800px;
  margin: auto;

  tbody {
    .today-line {
      width: 100%;
      border-top: 2px solid var(--lcc-color--schedule-today) !important;
    }

    .event-date-cell {
      vertical-align: top;

      .event-date-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        width: 65px;
        height: 65px;
        font-size: 13px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--lcc-color--schedule-dateBackground);
      }
    }

    .event-details-cell {
      display: flex;
      flex-flow: row wrap;
      gap: 16px;

      // Make the date widget appear centered
      padding-left: 0 !important;

      .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        .title {
          margin-bottom: 4px;
          font-size: 15px !important;
          line-height: normal;
          color: var(--lcc-color--schedule-titleText);
        }

        .type-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 4px;
          width: auto;
          padding: 2px 8px;
          border-radius: var(--lcc-borderRadius--large);
          color: var(--lcc-color--schedule-eventType);

          &.blitz-tournament-10-mins {
            background-color: var(--lcc-color--schedule-blitz10TournamentBackground);
          }

          &.rapid-tournament-25-mins {
            background-color: var(--lcc-color--schedule-rapid25TournamentBackground);
          }

          &.rapid-tournament-40-mins {
            background-color: var(--lcc-color--schedule-rapid40TournamentBackground);
          }

          &.lecture {
            background-color: var(--lcc-color--schedule-lectureBackground);
          }

          &.simul {
            background-color: var(--lcc-color--schedule-simulBackground);
          }

          &.championship {
            background-color: var(--lcc-color--schedule-championshipBackground);
          }

          &.other {
            background-color: var(--lcc-color--schedule-otherBackground);
          }

          &.closed {
            background-color: var(--lcc-color--schedule-closedBackground);
          }

          .championship-icon {
            @include icon-size(16px);

            color: var(--lcc-color--schedule-championshipMedalIcon);
          }
        }

        .event-details {
          padding-top: 16px;
          font-size: 14px;
          font-weight: 200;
          color: var(--lcc-color--schedule-eventDetailsText);
        }
      }

      .created-and-edited {
        display: flex;
        align-self: flex-end;
        flex: 1;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        font-size: 11px;
        font-weight: 100;
        white-space: nowrap;
        color: var(--lcc-color--schedule-createdAndEditedText);
      }
    }
  }
}
