@use '../../../styles/abstracts/mixins' as *;

:host {
  display: grid !important;
  align-items: unset !important;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: 'welcome' 'schedule' 'articles' 'photos';

  @include respond-to('gt-xl') {
    grid-template-columns: 420px 1fr 1fr 1fr;
    grid-template-areas:
      'welcome welcome schedule schedule'
      'articles articles articles articles'
      'photos photos photos photos';
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: var(--lcc-borderRadius--small);
    background-color: var(--lcc-color--homePage-articleBackground);
    color: var(--lcc-color--homePage-primaryText);

    &.welcome-section {
      grid-area: welcome;

      @include respond-to('gt-sm') {
        padding: 16px 32px;
      }

      @include respond-to('gt-md') {
        min-width: 650px;
      }

      .section-heading {
        padding: unset;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 100;
        text-align: center;
        border-bottom: unset;

        @include respond-to('gt-sm') {
          text-align: start;
        }

        @include respond-to('gt-md') {
          font-size: 22px;
        }
      }

      .main-links {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px 0;
        margin: auto;
      }

      .tournament-registration-link-button {
        align-self: center;
        max-width: 400px;
        padding: 16px 32px;
        margin-top: 16px;
        font-size: 16px;
        text-align: center;
      }
    }

    &.schedule-section {
      grid-area: schedule;

      ::ng-deep .events-table {
        width: 100%;
      }
    }

    &.articles-section {
      grid-area: articles;
    }

    &.photos-section {
      grid-area: photos;
    }

    .section-heading {
      width: 100%;
      padding-bottom: 4px;
      margin-bottom: 4px;
      font-size: 16px;
      border-bottom: 1px solid var(--lcc-color--general-dividerLine);
      color: var(--lcc-color--homePage-headingText);
    }
  }
}

@keyframes raise {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}
