@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.grid-container {
  container-type: inline-size;
  width: 100%;
}

.album-covers {
  column-count: 2;
  column-gap: 0;

  @container (min-width: 500px) {
    column-count: 3;
  }

  @container (min-width: 700px) {
    column-count: 4;
  }

  @container (min-width: 900px) {
    column-count: 5;
  }

  @container (min-width: 1100px) {
    column-count: 6;
  }

  @container (min-width: 1300px) {
    column-count: 7;
  }

  .album-cover {
    opacity: 0;
    display: block;
    width: calc(100% - 16px);
    padding: 6px;
    margin: 8px;
    border: none;
    border-radius: var(--lcc-borderRadius--small);
    box-shadow: 3px 3px 5px var(--lcc-color--photoGrid-boxShadow);
    background-color: var(--lcc-color--general-cardBackground);
    animation: fade-in-up 0.6s ease-out forwards;

    &:first-child {
      margin-top: 0;
    }

    break-inside: avoid;
    page-break-inside: avoid;

    &:hover {
      box-shadow: 4px 4px 8px var(--lcc-color--photoGrid-boxShadow);
      transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
      transform: scale(1.015);
    }

    figure {
      display: flex;
      flex-direction: column;
      gap: 8px;

      img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 2px;
        border-radius: var(--lcc-borderRadius--small);
      }

      figcaption {
        margin: 0 2px;
        text-align: left;

        .album-name {
          margin-bottom: 8px;
          font-size: 13px;
          line-height: 16px;
          color: var(--lcc-color--photoGrid-albumNameText);

          @container (min-width: 700px) {
            font-size: 15px;
            line-height: 18px;
          }
        }

        .photo-count {
          font-size: 10px;
          color: var(--lcc-color--photoGrid-photoCountText);

          @container (min-width: 700px) {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@keyframes raise {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.015);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
