@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 8px;
  border-radius: var(--lcc-borderRadius--small);
  box-shadow: 1px 1px 8px 1px var(--lcc-color--pageHeader-boxShadow);
  background-color: var(--lcc-color--pageHeader-background);

  .page-header-icon {
    color: var(--lcc-color--pageHeader-icon);
    @include icon-size(24px);

    &.admin-page {
      color: var(--lcc-color--pageHeader-adminIcon);
    }
  }

  .page-heading {
    font-size: 18px !important;
    color: var(--lcc-color--pageHeader-text);

    &.end-with-asterisk {
      font-style: italic;

      &:after {
        color: var(--lcc-color--pageHeader-asteriskText);
        content: ' *';
      }
    }
  }
}
