@use '../../../styles/abstracts/mixins' as *;

.intro-section,
.recipients-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  padding: 32px 0;

  padding: 16px;
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--lifetimePage-blockBackground);
  color: var(--lcc-color--lifetimePage-blockText);
}

.intro-section {
  display: grid;
  gap: 16px;
  grid-template-columns: auto;

  @include respond-to('gt-md') {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .award-history {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    margin: 8px;
    text-align: center;
    border-radius: var(--lcc-borderRadius--large);

    .image-container {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        object-fit: contain;
        width: auto;
        max-width: 100%;
        height: auto;
        border-top-left-radius: var(--lcc-borderRadius--large);
        border-top-right-radius: var(--lcc-borderRadius--large);
      }
    }

    figcaption {
      width: 100%;
      padding: 4px 8px;
      font-size: 13px;
      line-height: 1.5em;
      border-bottom-left-radius: var(--lcc-borderRadius--large);
      border-bottom-right-radius: var(--lcc-borderRadius--large);
      background-color: var(--lcc-color--lifetimePage-figureCaptionBackground);
      color: var(--lcc-color--lifetimePage-figureCaptionText);
    }
  }
}

.recipients-section {
  display: flex;
  flex-direction: column;

  .year {
    margin: 4px 0 16px;
    color: var(--lcc-color--lifetimePage-sectionHeaderText);
  }

  .recipients {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;

    .recipient {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 120px;
      text-align: center;

      .image-container {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border: 2px solid var(--lcc-color--lifetimePage-portraitBorder);
        border-radius: 50%;
        border-radius: 50%;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  @include respond-to('gt-md') {
    align-items: center;
  }
}
