@use '../../../styles/abstracts/mixins' as *;

$grid-button-min-width: 115px;
$pgn-viewer-width: 432px;

.intro {
  display: flex;
  flex-direction: column;

  @include respond-to('gt-lg') {
    flex-direction: row;
  }

  .image-container {
    opacity: 0;
    display: flex;
    align-self: center;
    flex: 2;
    align-items: center;
    justify-content: center;
    animation: fade-in-up 1s ease-out forwards;

    img {
      object-fit: contain;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 534px;
      border-radius: var(--lcc-borderRadius--large);
    }
  }

  .text-container {
    flex: 1;
    padding: 8px;

    @include respond-to('gt-lg') {
      padding: 0 32px;
    }

    h3 {
      opacity: 0;
      margin: 8px 0 32px;
      font-style: italic;
      color: var(--lcc-color--gameArchivesPage-headerText);
      animation: fade-in-up 1s ease-out forwards;
      animation-delay: 0.5s;
    }

    p {
      opacity: 0;
      margin-bottom: 16px;
      color: var(--lcc-color--gameArchivesPage-text);
      animation: fade-in-up 1s ease-out forwards;

      &:nth-child(2) {
        animation-delay: 1s;
      }

      &:nth-child(3) {
        animation-delay: 1.5s;
      }
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--gameArchivesPage-filterContainerBackground);

  .filter-games-text {
    align-self: start;
    padding: 8px;
    color: var(--lcc-color--gameArchivesPage-headerText);
  }

  .game-filter-form {
    display: grid;
    align-items: stretch;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'player player'
      'moves result';
    gap: 2px;

    @include respond-to('gt-xs') {
      gap: 8px;
    }

    @include respond-to('gt-md') {
      grid-template-columns: 1fr auto auto;
      grid-template-areas: 'player moves result';
    }

    .filter-section {
      gap: 4px 8px;
      padding: 8px;
      border: 1px solid var(--lcc-color--gameArchivesPage-filterSectionBorder);
      border-radius: var(--lcc-borderRadius--large);

      &.player-filter-section {
        grid-area: player;
      }

      &.moves-filter-section {
        grid-area: moves;

        input {
          max-width: 50px;
        }
      }

      &.result-filter-section {
        grid-area: result;
      }
    }
  }

  .result-summary-text {
    padding: 8px;
    color: var(--lcc-color--gameArchivesPage-text);
  }

  .search-stats-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
    padding: 16px 8px;
    margin-top: 16px;

    .opening-chart-container,
    .result-chart-container {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      min-height: 400px;

      canvas {
        width: 300px !important;
        height: 450px !important;
      }

      label {
        padding-bottom: 2px;
        margin-bottom: 8px;
        font-size: var(--lcc-font-size--h2);
        text-align: center;
        border-bottom: 1px solid var(--lcc-color--gameArchivesPage-labelUnderline);
        color: var(--lcc-color--gameArchivesPage-chartLabel);
      }
    }
  }
}

.year-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin: 32px 0;
  border-radius: var(--lcc-borderRadius--large);
  grid-template-columns: repeat(auto-fit, minmax(#{$grid-button-min-width}, 1fr));

  button {
    padding: 8px 16px;
    text-transform: none;
    --expansion-pixels: 4px;

    &.active {
      position: relative;
      overflow: visible;
      background-color: var(--lcc-color--gameArchivesPage-activeButtonBackground);
      color: var(--lcc-color--gameArchivesPage-activeButtonText);
      animation: shadow-pulse 2s ease-in-out infinite;
    }
  }
}

.active-games {
  width: 100%;
  padding: 8px;
  text-align: center;
  border-radius: var(--lcc-borderRadius--large);
  background-color: var(--lcc-color--gameArchivesPage-activeGamesBackground);

  cdk-virtual-scroll-viewport {
    height: 410px; // tall enough to avoid vertical scrollbar

    ::ng-deep .cdk-virtual-scroll-content-wrapper {
      display: flex;

      lcc-pgn-viewer {
        max-width: $pgn-viewer-width;
        margin: 8px;
      }
    }
  }

  .loading-text {
    color: var(--lcc-color--gameArchivesPage-loadingText);
  }
}

@keyframes shadow-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
