@use '../../../styles/abstracts/mixins' as *;

:host {
  display: flex;

  flex-direction: row;
  gap: 2px;
  --button-size: var(--admin-control-button-size);

  .admin-control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    border: 2px solid var(--lcc-color--adminControls-buttonBorder);
    border-radius: var(--lcc-borderRadius--large);
    background-color: var(--lcc-color--adminControls-buttonBackground);

    mat-icon {
      @include icon-size(calc(var(--button-size) - 8px));
    }

    &:disabled,
    &.disabled {
      background-color: var(
        --lcc-color--adminControls-disabledButtonBackground
      ) !important;
      color: var(--lcc-color--adminControls-disabledButtonIcon) !important;
      cursor: default !important;
      border-color: var(--lcc-color--adminControls-disabledButtonBorder) !important;

      & > * {
        cursor: default !important;
      }
    }

    &:focus,
    &:hover {
      background-color: var(--lcc-color--adminControls-buttonBackgroundOnHover);
      cursor: pointer;
    }

    &.bookmark-button {
      color: var(--lcc-color--adminControls-bookmarkIcon);

      &:focus,
      &:hover {
        color: var(--lcc-color--adminControls-bookmarkIconOnHover);
      }
    }

    &.edit-button {
      color: var(--lcc-color--adminControls-editIcon);

      &:focus,
      &:hover {
        color: var(--lcc-color--adminControls-editIconOnHover);
      }
    }

    &.delete-button {
      color: var(--lcc-color--adminControls-deleteIcon);

      &:focus,
      &:hover {
        color: var(--lcc-color--adminControls-deleteIconOnHover);
      }
    }
  }
}

.tooltip-item-name {
  display: block;
  color: var(--lcc-color--tooltip-highlightedText) !important;
}
