*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
hr,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
article,
video {
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  font-size: 100%;
  text-align: inherit;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  border: 0;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
}

a {
  font-style: normal;
  text-decoration: none;

  &:hover,
  & > *:hover {
    cursor: pointer;
  }
}

button:not([disabled]) {
  cursor: pointer;
}

ol,
ul {
  height: inherit;
}

blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}
